<nav>
  <div class="nav-wrapper container">
    <a href="javascript:void(0)" class="brand-logo left">Tarefas</a>
    <ul id="nav-mobile" class="right">
      <li><a routerLink="/tarefas/0">Nova</a></li>
      <li><a routerLink="/">Voltar</a></li>
    </ul>
  </div>
</nav>
<br>
<div class="container">
  Página: <strong>{{pagina}}</strong>
  <table class="highlight bordered" style="margin-bottom:20px">
    <thead>
      <tr>
        <th width="100px">Código</th>
        <th>Descrição</th>
        <th width="50px"></th>
        <th width="50px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lista" routerLink="/tarefas/{{item.id}}">
        <td>{{item.id}}</td>
        <td>{{item.descricao}}</td>
        <td><button class="btn-floating waves-effect waves-light red" (click)="detalhar(item.id)"><i class="material-icons">details</i></button></td>
        <td><button class="btn-floating waves-effect waves-light red" (click)="remover(item.id)"><i class="material-icons">delete</i></button></td>
      </tr>
    </tbody>
  </table>
  <button (click)="proximaPagina()" class="btn">Próxima Página</button>
  <button (click)="paginaAnterior()" class="btn" *ngIf="pagina>1">Página Anterior</button>
</div>
