<form>
  <div class="form-group">
    <label for="descricao">Descrição</label>
    <input type="text" class="form-control"
      id="descricao" name="descricao"
      [(ngModel)]="tarefa.descricao">
  </div>
  <div class="form-group">
    <label for="detalhes">Destalhes</label>
    <textarea class="form-control" rows="3"
    id="detalhes" name="detalhes"
    [(ngModel)]="tarefa.detalhes"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" (click)="salvar()">Salvar</button>
</form>

{{ tarefa | json }}
