/* You can add global styles to this file, and also import other style files */

table.highlight tbody tr {
  cursor: pointer;
}

.ng-touched.ng-invalid:not(form) {
  border-bottom: 1px solid red;
}

.cs-form-alert {
  color: red;
  margin-left: 10px;
}
